<header>
    <div class="navbar">
        <div class="home-bar">
            <a href="/" class="home-link">Home</a>
        </div>
        {{#if userLogin}}
        <div class="links">
            <a href="/login" class="login-link">Log In</a>
            <a href="/signup" class="signup-link">Sign Up</a>
        </div>
        {{else}}
        <div class="links">
            <a href="/post" class="addpost-link">Add Post</a>
            <a href="/account" class="userpage-link">Account</a>
            <a href="/logout" class="logout-link">Log Out</a>
        </div>
        {{/if}}
        <div class="toggle-button">
            <img src="public/images/align-justify.svg" alt="toggle button" class="toggle-button-image" />
        </div>
    </div>
    {{#if userLogin}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    {{else}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/post">Add Post</a>
            <a href="/userpage">Account</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>
    {{/if}}
</header>

<main>
    <div class="user-info">
        <h1 class="user-info-heading">My Info</h1>
        <p>First Name: {{userInfo.firstName}}</p>
        <p>Last Name: {{userInfo.lastName}}</p>
        <p>Username: {{userInfo.username}}</p>
        <p>Email Address: {{userInfo.email}}</p>
    </div>
    <div class="posts-section">
        {{#if posts}}
        <h2 class="posts-heading">Posts</h2>
        <div class="posts">
            {{#each posts}}
            <a href="../../post/{{_id}}" class="post">
                <p class="name">{{name}}</p>
                <div class="pictures-information-container">
                    <div class="images">
                        {{#each imgUrls}}
                        <img src="{{this}}" alt="Post Image" class="image">
                        {{/each}}
                    </div>
                    <div class="information-container">
                        <p class="username">Owner: {{username}}</p>
                        <p class="description">Description: {{description}}</p>
                        <p class="tags">Tags: {{tags}}</p>
                        <p class="location">Location: {{location}}</p>
                        <p class="posted-date">Posted On: {{postedDate}}</p>
                        <p class="rating">User Rating: {{rating}}</p>
                        <p class="claimed">
                            {{#if claimed}}
                            Status: Post claimed by another user
                            {{else}}
                            Status: Post unclaimed
                            {{/if}}
                        </p>
                    </div>
                </div>
                {{#if claimed}}
                <div class="accept-reject-btns">
                    <form action="account/accept/claim/{{_id}}">
                        <button type="submit" id="accept-claim-btn">Accept Claim</button>
                    </form>
                    <form action="account/reject/claim/{{_id}}">
                        <button type="submit" id="reject-claim-btn">Reject Claim</button>
                    </form>
                </div>
                {{/if}}
            </a>
            {{/each}}
        </div>
        {{else}}
        <h2 class="posts-heading">No Posts Found</h2>
        {{/if}}
    </div>
</main>