<header>
  <div class="navbar">
    <div class="home-bar">
      <a href="/" class="home-link">Home</a>
      <form method="POST" action="/homepage/homepage" class="search-form" id ="search-form">
        <label for="search-bar" class="search-label">Search for an Item:</label>
        <input
          name="searchText"
          type="text"
          placeholder="Search For..."
          class="search-bar"
          id="search-bar"
          value=""
        />
        <label for="filter" class="filter-label">Select categories to filter by:</label>
        <div id="filter" class="dropdown-check-list">
          <ul class="tags">
            <li><input name="tagSelect" type="checkbox" value="Clothes"/>Clothes</li>
            <li><input name="tagSelect" type="checkbox" value="Textbooks" />Textbooks</li>
            <li><input name="tagSelect" type="checkbox" value="Furniture"/>Furniture</li>
            <li><input name="tagSelect" type="checkbox" value="Room Decor"/>Room Decor</li>
            <li><input name="tagSelect" type="checkbox" value="Electronics"/>Electronics</li>
            <li><input name="tagSelect" type="checkbox" value="Sports Equipment"/>Sports Equipment</li>
          </ul>
          
          
        </div>
        <button type="submit">Filter</button>
      </form>
    </div>
    <div class="links">
      <a href="/login" class="login-link">Log In</a>
      <a href="/signup" class="signup-link">Sign Up</a>
    </div>
    <div class="toggle-button">
      <img
        src="public/images/align-justify.svg"
        alt="toggle button"
        class="toggle-button-image"
      />
    </div>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-links">
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</header>
<main>
  <div class="posts-section">
    <h2 class="posts-heading">My Posts</h2>
    <div class="posts">
      {{#each posts}}
        <div class="post">
          <p class="name">{{name}}</p>
          <p class="description">{{description}}</p>
          <p class="tags">{{tags}}</p>
          <p class="location">{{location}}</p>
          <p class="posted-date">{{postedDate}}</p>
          <p class="comments">{{comments}}</p>
          <p class="rating">{{rating}}</p>
          <p class="claimed">{{claimed}}</p>
        </div>
      {{/each}}
    </div>
  </div>
</main>