<header>
  <div class="navbar">
    <div class="home-bar">
      <a href="/" class="home-link">Home</a>
    </div>
    <form action="" class="search-form">
      <label for="search-bar" class="search-label">
        <input
          type="text"
          placeholder="Search For..."
          class="search-bar"
          value=""
        />
        <input type="submit" class="search-button" value="Search" />
      </label>
    </form>
    <div class="links">
      <a href="/login" class="login-link">Log In</a>
      <a href="/signup" class="signup-link">Sign Up</a>
    </div>
    <div class="toggle-button">
      <img
        src="public/images/align-justify.svg"
        alt="toggle button"
        class="toggle-button-image"
      />
    </div>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-links">
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
</header>
<main>
  <div class="main-content">
    <div class="post-section">
      <h2 id="post-list">My Posts</h2>
      <div class="post-list">
        {{#each posts}}
          <div class="post">
            <p>{{name}}</p>
            <p>{{description}}</p>
            <p>{{tags}}</p>
            <p>{{location}}</p>
            <p>{{postedDate}}</p>
            <p>{{comments}}</p>
            <p>{{rating}}</p>
            <p>{{claimed}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</main>