<header>
      <div id="customAlert" class={{alertClass}}>
        <span class="close" onclick="closeAlert()">&times;</span>
        <p id="alertMessage">Your item has been posted!</p>
        </div>
  <div class="navbar">
    <div class="home-bar">
      <a href="/" class="home-link">Home</a>

      <form method="POST" action="/homepage" class="search-form" id="search-form">
        <label for="search-bar" class="search-label">
          <input name="searchText" type="text" placeholder="Search for an item" class="search-bar" id="search-bar"
            value="" />
          <button type="submit" class="search-button">Search</button>
        </label>
        <div class="filter-container">
          <div class="filter-toggle-button">
            Filter
            <img src="public/images/chevron-down.svg" alt="filter button" class="filter-toggle-button-image" />
          </div>
          <label for="filter" class="filter-label">
            <div>
              <input id="electronics" name="tagSelect" type="checkbox" value="Electronics" />
              <label for="electronics">Electronics</label>
            </div>
            <div>
              <input id="appliances" name="tagSelect" type="checkbox" value="Appliances" />
              <label for="appliances">Appliances</label>
            </div>
            <div>
              <input id="furniture" name="tagSelect" type="checkbox" value="Furniture" />
              <label for="furniture">Furniture</label>
            </div>
            <div>
              <input id="clothing" name="tagSelect" type="checkbox" value="Clothing" />
              <label for="clothing">Clothing</label>
            </div>
            <div>
              <input id="sport-equipment" name="tagSelect" type="checkbox" value="Sports Equipment" />
              <label for="sport-equipment">Sport Equipment</label>
            </div>
            <div>
              <input id="books" name="tagSelect" type="checkbox" value="Books" />
              <label for="books">Books</label>
            </div>
            <div>
              <input id="school-supplies" name="tagSelect" type="checkbox" value="School Supplies" />
              <label for="school-supplies">School Supplies</label>
            </div>
            <div>
              <input id="other" name="tagSelect" type="checkbox" value="Other" />
              <label for="other">Other</label>
            </div>
            <div class="hightolow-container">
              <input id="hightolow-checkbox" name="tagSelect" type="checkbox" value="Rating" />
              <label for="hightolow-checkbox">High to Low Rating</label>
            </div>
          </label>
        </div>
        <button type="submit" class="filter-button">Filter</button>
      </form>

    </div>
    {{#if userLogin}}
    <div class="links">
      <a href="/login" class="login-link">Log In</a>
      <a href="/signup" class="signup-link">Sign Up</a>
    </div>
    {{else}}
    <div class="links">
      <a href="/post" class="addpost-link">Add Post</a>
      <a href="/account" class="userpage-link">Account</a>
      <a href="/logout" class="logout-link">Log Out</a>
    </div>
    {{/if}}
    <div class="toggle-button">
      <img src="public/images/align-justify.svg" alt="toggle button" class="toggle-button-image" />
    </div>
  </div>
  {{#if userLogin}}
  <div class="dropdown-menu">
    <div class="dropdown-links">
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    </div>
  </div>
  {{else}}
  <div class="dropdown-menu">
    <div class="dropdown-links">
      <a href="/post">Add Post</a>
      <a href="/userpage">Account</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  {{/if}}
</header>

<main>
  <form method="POST" action="/homepage" class="search-form" id="search-form">
    <div class={{divClass}} id="hidden-filter">
      <div class="filter-container">
        <div class="filter-toggle-button">
          Filter
          <img src="public/images/chevron-down.svg" alt="filter button" class="filter-toggle-button-image" />
        </div>
        <label for="filter" class="filter-label">
          <div>
            <input id="electronics2" name="tagFilter" type="checkbox" value="Electronics" />
            <label for="electronics2">Electronics</label>
          </div>
          <div>
            <input id="appliances2" name="tagFilter" type="checkbox" value="Appliances" />
            <label for="appliances2">Appliances</label>
          </div>
          <div>
            <input id="furniture2" name="tagFilter" type="checkbox" value="Furniture" />
            <label for="furniture2">Furniture</label>
          </div>
          <div>
            <input id="clothing2" name="tagFilter" type="checkbox" value="Clothing" />
            <label for="clothing2">Clothing</label>
          </div>
          <div>
            <input id="sport-equipment2" name="tagFilter" type="checkbox" value="Sports Equipment" />
            <label for="sport-equipment2">Sport Equipment</label>
          </div>
          <div>
            <input id="books2" name="tagFilter" type="checkbox" value="Books" />
            <label for="books2">Books</label>
          </div>
          <div>
            <input id="school-supplies2" name="tagFilter" type="checkbox" value="School Supplies" />
            <label for="school-supplies2">School Supplies</label>
          </div>
          <div>
            <input id="other2" name="tagFilter" type="checkbox" value="Other" />
            <label for="other2">Other</label>
          </div>
          <div class="hightolow-container">
            <input id="hightolow-checkbox" name="tagFilter" type="checkbox" value="Rating" />
            <label for="hightolow-checkbox">High to Low Rating</label>
          </div>
        </label>
      </div>
      <button type="submit" class="search-button">Filter Tags</button>
    </div>
  </form>

  <div class="posts-section">
    <h1 class="main-heading">Stevens Curbside Pickup</h2>
      {{#if posts}}
      <h2 class="posts-heading">Posts</h2>
      <div class="posts">
        {{#each posts}}
        <a href="post/{{_id}}" class="post">
          <p class="name">{{name}}</p>
          <div class="pictures-information-container">
            <div class="images">
              {{#each imgUrls}}
              <img src="{{this}}" alt="Post Image" class="image">
              {{/each}}
            </div>
            <div class="information-container">
              <p class="username">Owner: {{username}}</p>
              <p class="description">Description: {{description}}</p>
              <p class="tags">Tags: {{tags}}</p>
              <p class="location">Location: {{location}}</p>
              <p class="posted-date">Posted On: {{postedDate}}</p>
              <p class="rating">User Rating: {{rating}}</p>
              <p class="claimed">
                {{#if claimed}}
                Status: Post Pending Claim 
                {{else}}
                Status: Post Unclaimed
                {{/if}}
              </p>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
      {{else}}
      <h2 class="posts-heading">No Posts Found</h2>
      {{/if}}
  </div>
</main>