<header>
  <div class="header">
    <a href="" class="home-link">Home</a> <!-- Add homepage link -->
  </div>
  </div>
</header>
<div class="form-container">
  <form action="" method="POST">
    <p class="log-in-title">Log In!</p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Username" value="{{body.username}}" />
    {{#if usernameError}}
      <div class="invalid-username">
        {{usernameError}}
      </div>
    {{/if}}

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" value="{{body.password}}" />
    {{#if passwordError}}
      <div class="invalid-password">
        {{passwordError}}
      </div>
    {{/if}}

    <label for="log-in-button"></label>
    <input type="submit" id="log-in-button" name="logInButton" value="Log In" />
    <p class="sign-up-text">Don't have an account?</p>
    <a href="/signup" class="sign-up-button">Sign Up</a>
  </form>
</div>
{{!-- <div class="Error-container">
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div> --}}