<header>
    <div class="navbar">
        <div class="home-bar">
            <a href="/" class="home-link">Home</a>

            <form method="POST" action="/homepage" class="search-form" id="search-form">

                <label for="search-bar" class="search-label">
                    <input name="searchText" type="text" placeholder="Search for an item" class="search-bar"
                        id="search-bar" value="" />
                    <button type="submit" class="search-button">Search</button>
                </label>
                <div class="filter-container">
                    <div class="filter-toggle-button">
                        Filter
                        <img src="/public/images/chevron-down.svg" alt="filter button"
                            class="filter-toggle-button-image" />
                    </div>
                    <label for="filter" class="filter-label">
                        <div>
                            <input id="electronics" name="tagSelect" type="checkbox" value="Electronics" />
                            <label for="electronics">Electronics</label>
                        </div>
                        <div>
                            <input id="appliances" name="tagSelect" type="checkbox" value="Appliances" />
                            <label for="appliances">Appliances</label>
                        </div>
                        <div>
                            <input id="furniture" name="tagSelect" type="checkbox" value="Furniture" />
                            <label for="furniture">Furniture</label>
                        </div>
                        <div>
                            <input id="clothing" name="tagSelect" type="checkbox" value="Clothing" />
                            <label for="clothing">Clothing</label>
                        </div>
                        <div>
                            <input id="sport-equipment" name="tagSelect" type="checkbox" value="Sports Equipment" />
                            <label for="sport-equipment">Sport Equipment</label>
                        </div>
                        <div>
                            <input id="books" name="tagSelect" type="checkbox" value="Books" />
                            <label for="books">Books</label>
                        </div>
                        <div>
                            <input id="school-supplies" name="tagSelect" type="checkbox" value="School Supplies" />
                            <label for="school-supplies">School Supplies</label>
                        </div>
                        <div>
                            <input id="other" name="tagSelect" type="checkbox" value="Other" />
                            <label for="other">Other</label>
                        </div>
                    </label>
                </div>

                <button type="submit" class="filter-button">Filter</button>
            </form>
        </div>
        {{#if userLogin}}
        <div class="links">
            <a href="/login" class="login-link">Log In</a>
            <a href="/signup" class="signup-link">Sign Up</a>
        </div>
        {{else}}
        <div class="links">
            <a href="/post" class="addpost-link">Add Post</a>
            <a href="/account" class="userpage-link">Account</a>
            <a href="/logout" class="logout-link">Log Out</a>
        </div>
        {{/if}}
        <div class="toggle-button">
            <img src="/public/images/align-justify.svg" alt="toggle button" class="toggle-button-image" />
        </div>
    </div>
    {{#if userLogin}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    {{else}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/post">Add Post</a>
            <a href="/userpage">Account</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>
    {{/if}}
</header>
<main>
    <div id="post-container">
        <div class="post">
            <div class="pictures-container">
                {{#each post.imgUrls}}
                <img src={{this}} alt="" class="picture">
                {{/each}}
            </div>
            <div class="post-container2">
                <div class="post-information">
                    <p class="name">{{post.name}}</p>
                    <p class="description">{{post.description}}</p>
                    <ul class="tags">
                        {{#each post.tags}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <p class="location">{{post.location}}</p>
                    <p class="posted-date">{{post.postedDate}}</p>
                    <p class="rating">Raiting: {{post.rating}}</p>
                    <button type="submit" class="claim-button">Claim!</button>
                    {{#if isOwnerOfPost}}
                    <div class="delete-post-container">
                        <form action="" method="POST">
                            <input type="text" name="_method" value="DELETE" hidden>
                            <input type="submit" class="delete-post-button" value="Delete Post">
                        </form>
                    </div>
                    {{/if}}
                </div>
                <div class="comments">
                    <h2 class="comments-heading">Comments</h2>
                    {{#each post.comments}}
                    <div class="comment-container">
                        <p class="comment">{{this.comment}}</p> <!-- add username: "comment"-->
                        {{#if ../isOwnerOfPost}}
                        <div class="delete-comment-container">
                            <form action="/comment/{{../post._id}}" method="POST">
                                <input type="text" name="_method" value="DELETE" hidden>
                                <input type="submit" class="delete-comment-button" value="Delete Comment">
                                <input type="text" name="commentId" value={{this._id}} hidden>
                            </form>
                        </div>
                        {{else}}
                        {{#if this.madeByCurrentUser}}
                        <div class="comment-container2">
                            <button class="reply-comment-button">Reply</button>
                            <div class="delete-comment-container">
                                <form action="/comment/{{../post._id}}" method="POST">
                                    <input type="text" name="_method" value="DELETE" hidden>
                                    <input type="submit" class="delete-comment-button" value="Delete Comment">
                                    <input type="text" name="commentId" value={{this._id}} hidden>
                                </form>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div class="modify-comments">
                    {{#if isOwnerOfPost}}
                    {{else}}
                    <button class="add-comment-button">Add Comment</button>
                    {{/if}}
                    <!-- show only if you're the owner of the post-->
                </div>
            </div>
        </div>
    </div>
    <div class="add-comment-input-container">
        <form action="comment/{{post._id}}" id="add-comment-form" method="POST">
            <label for="addCommentInput">Add Comment:</label>
            <textarea name="addCommentInput" id="add-comment-input" cols="50" rows="15"></textarea>
            <input type="submit" class="add-comment-confirm-button" value="Confirm">
        </form>
    </div>
</main>