<header>
    <div class="navbar">
        <div class="home-bar">
            <a href="/" class="home-link">Home</a>
        </div>
        {{#if userLogin}}
        <div class="links">
            <a href="/login" class="login-link">Log In</a>
            <a href="/signup" class="signup-link">Sign Up</a>
        </div>
        {{else}}
        <div class="links">
            <a href="/post" class="addpost-link">Add Post</a>
            <a href="/account" class="userpage-link">Account</a>
            <a href="/logout" class="logout-link">Log Out</a>
        </div>
        {{/if}}
        <div class="toggle-button">
            <img src="/public/images/align-justify.svg" alt="toggle button" class="toggle-button-image" />
        </div>
    </div>
    {{#if userLogin}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>
    {{else}}
    <div class="dropdown-menu">
        <div class="dropdown-links">
            <a href="/post">Add Post</a>
            <a href="/userpage">Account</a>
            <a href="/logout">Log Out</a>
        </div>
    </div>
    {{/if}}
</header>
<main>
    <div id="post-container">

        <div class="post">

            <div class="pictures-container">
                {{#each post.imgUrls}}
                <img src={{this}} alt="" class="picture">
                {{/each}}
            </div>
            <div class="post-container2">
                <div class="post-information">
                    <p class="name">{{post.name}}</p>
                    <p class="description">Description: {{post.description}}</p>
                    <ul class="tags">
                        Tags:
                        {{#each post.tags}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                    <p class="location">Location: {{post.location}}</p>
                    <p class="posted-date">Posted Date: {{post.postedDate}}</p>
                    <p class="rating">Rating: {{post.rating}}</p>

                    <p id="post" value="{{post.claimed}}" hidden></p>
                    <button id="claim-button" type="submit" class="claim-button" data-id="{{post._id}}">Claim!</button>

                    {{#if isOwnerOfPost}}
                    <div class="delete-post-container">
                        <form action="" method="POST">
                            <input type="text" name="_method" value="DELETE" hidden>
                            <label for="delete-post-button"></label>
                            <input type="submit" id="delete-post-button" value="Delete Post">
                        </form>
                    </div>
                    {{/if}}
                </div>
                <div class="comments">
                    {{#if hasComments}}
                    <h2 class="comments-heading">Comments</h2>
                    {{#each post.comments}}
                    <div class="comment-container">
                        <div class="replies-container">
                            <p class="comment">{{this.username}}: {{this.comment}}</p> <!-- add username: "comment"-->
                            <p class="replies-heading">Replies:</p>
                            <div class="replies">
                                {{#each this.replies}}
                                <!-- array of objects: replyId, postId, userId, username, reply-->
                                <p class="reply">{{this.username}}: {{this.comment}}</p>
                                {{/each}}
                            </div>
                        </div>
                        {{#if ../isOwnerOfPost}}
                        <div class="comment-container2">
                            <form action="comment/{{../post._id}}" method="POST">
                                <input type="text" name="_method" value="DELETE" hidden>
                                <label for="delete-button"></label>
                                <input type="submit" id="delete-button" class="delete-comment-button"
                                    value="Delete Comment">
                                <input type="text" id="comment-id-input" name="commentId" value={{this._id}} hidden>
                            </form>
                        </div>
                        {{else if this.madeByCurrentUser}}
                        <div class="comment-container2">
                            <div class="delete-comment-container">
                                <form action="comment/{{../post._id}}" method="POST">
                                    <input type="text" name="_method" value="DELETE" hidden>
                                    <label for="delete-button"></label>
                                    <input type="submit" id="delete-button" class="delete-comment-button"
                                        value="Delete Comment">
                                    <input type="text" id="comment-id-input" name="commentId" value={{this._id}} hidden>
                                </form>
                            </div>
                        </div>
                        {{else}}
                        <div class="comment-container2">
                            <div class="reply-comment-container">
                                <button class="reply-comment-button" value="{{this._id}}">Reply</button>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                    {{else}}
                    <h2 class="comments-heading">No Comments</h2>
                    {{/if}}
                </div>

                <div class="modify-comments">
                    <button class="add-comment-button">Add Comment</button>
                    <!-- show only if you're the owner of the post-->
                </div>
            </div>
        </div>
    </div>
    <div class="add-comment-input-container">
        <form action="comment/{{post._id}}" id="add-comment-form" method="POST">
            <label for="add-comment-input">Add Comment:</label>
            <textarea name="addCommentInput" id="add-comment-input" cols="50" rows="15"></textarea>
            <div class="clientside-add-comment-error"></div>
            <label for="add-comment-confirm-button"></label>
            <input type="submit" id="add-comment-confirm-button" value="Confirm">
            <img src="/public/images/x.svg" alt="exit" class="exit-add-comment">
        </form>
    </div>
    <div class="reply-comment-input-container">
        <form action="reply/{{post._id}}" id="reply-comment-form" method="POST">
            <label for="reply-comment-input">Reply to Comment:</label>
            <textarea name="replyCommentInput" id="reply-comment-input" cols="50" rows="15"></textarea>
            <div class="clientside-reply-comment-error"></div>
            <label for="reply-comment-confirm-button"></label>
            <input type="submit" id="reply-comment-confirm-button" value="Confirm">
            <img src="/public/images/x.svg" alt="exit" class="exit-reply-comment">
        </form>
    </div>
    {{#if commentError}}
    <div class="serverside-comment-error">{{commentError}}</div>
    {{/if}}
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>